services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: pratice01
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    image: ${BACKEND_IMAGE}
    ports:
      - "4000:4000"
    environment:
      DATABASE_URL: ${{DATABASE_URL}}
    depends_on:
      postgres:
        condition: service_healthy
   front-end:
    image: ${FRONTEND_IMAGE}
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  postgres_data:
